<section class="main-banner">
  <div class="wide-container">
    <div class="main-banner__slider owl-carousel owl-theme">
      <a href="#" class="main-banner__slide">
        <img src="banner1.png" alt="">
      </a>
      <a href="#" class="main-banner__slide">
        <img src="1.jpg" alt="">
      </a>
      <a href="#" class="main-banner__slide">
        <img src="2.jpg" alt="">
      </a>
    </div>
  </div>
</section>
