<div class="main-content">
  <div class="container main-content__container">
    <div class="popular">
      <div class="h2 popular__title">Популярные товарные разделы</div>
      <div class="row popular-list">
        <div class="carousel owl-carousel owl-theme">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 popular-item__wrap">
            <a href="#" class="popular-item">
              <div class="popular-item__img">
                <img src="sect1.png" alt="">
              </div>
              <div class="popular-item__title">Смесители</div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 popular-item__wrap">
            <a href="#" class="popular-item">
              <div class="popular-item__img">
                <img src="sect2.png" alt="">
              </div>
              <div class="popular-item__title">Ванны</div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 popular-item__wrap">
            <a href="#" class="popular-item">
              <div class="popular-item__img">
                <img src="sect3.png" alt="">
              </div>
              <div class="popular-item__title">Раковины</div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 popular-item__wrap">
            <a href="#" class="popular-item">
              <div class="popular-item__img">
                <img src="sect4.png" alt="">
              </div>
              <div class="popular-item__title">Полотенцесушители</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="popular">
      <div class="h2 popular__title">Популярные коллекции</div>
      <div class="row popular-list">
        <div class="carousel owl-carousel owl-theme">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 popular-item__wrap">
            <a href="#" class="popular-item">
              <div class="popular-item__img">
                <img src="col1.png" alt="">
              </div>
              <div class="popular-item__title">Розмари</div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 popular-item__wrap">
            <a href="#" class="popular-item">
              <div class="popular-item__img">
                <img src="col2.png" alt="">
              </div>
              <div class="popular-item__title">Клайда</div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 popular-item__wrap">
            <a href="#" class="popular-item">
              <div class="popular-item__img">
                <img src="col3.png" alt="">
              </div>
              <div class="popular-item__title">Суон</div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 popular-item__wrap">
            <a href="#" class="popular-item">
              <div class="popular-item__img">
                <img src="col4.png" alt="">
              </div>
              <div class="popular-item__title">Контемпорари</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="popular popular_last">
      <div class="h2 popular__title">Спец предложения</div>
      <div class="row popular-list">
        <div class="carousel owl-carousel owl-theme">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 popular-item__outer">
            <div class="p_item">
              <a href="https://santehnika-tut.ru/product/dushevaya-sistema-lemark-tropic-lm7002c-hrom-174713.html" class="img pos_rel">
                <div class="thumb">
                  <span class="bp">Бесплатная доставка</span>                                                                                                                                            <span class="lp">Лидер продаж</span>                                                        </div>
                <img data-src="https://cdn.santehnika-tut.ru/img/catphotos/8/5/7/8/2/85782_256752_bg.jpg" src="https://cdn.santehnika-tut.ru/img/catphotos/8/5/7/8/2/85782_256752_bg.jpg" alt="Душевая система Lemark Tropic LM7002C " title="Душевая система Lemark Tropic LM7002C " class="pos_absc lazyloaded">
                      </a>
                      <span class="des">
                  <span class="rating">
                    <span class="rat_list rat_list_null __rat4">
                      <span class="star"></span>
                      <span class="star"></span>
                      <span class="star"></span>
                      <span class="star"></span>
                      <span class="star"></span>
                    </span>
                    <span class="revs">
                      <a href="https://santehnika-tut.ru/product/komplekt-unitaza-geberit-renova-nr1-203050000-s-installyaciej-geberit-duofix-delta-458126001-s-sidenem-mikrolift-i-klavishej-smyva-hrom-228161.html#revs">Отзывов: 1</a>
                    </span>
                  </span>
                  <a style="height: 36px;" href="/product/dushevaya-sistema-lemark-tropic-lm7002c-hrom-174713.html" class="title" data-value="174713">
                    Душевая система Lemark Tropic LM7002C
                  </a>
                <span class="menu_tech"></span>
                <span class="flex_w __jc_sb __ai_c pos_rel">

                  <span class="city pos_rel">
                                      <img data-src="https://cdn.santehnika-tut.ru/img/flags/cz.png" alt="Чехия" class="ypos_ab lazyloaded" src="https://cdn.santehnika-tut.ru/img/flags/cz.png">
                      Чехия                </span>

                  <span class="vars"></span>
                              </span>

                <span class="devider"></span>

                <span class="price flex_w">
                  <span>15 830 руб.</span>
                </span>
                <span class="flex_w __jc_sb __ai_c">
                  <a href="https://santehnika-tut.ru/product/komplekt-unitaza-geberit-renova-nr1-203050000-s-installyaciej-geberit-duofix-delta-458126001-s-sidenem-mikrolift-i-klavishej-smyva-hrom-228161.html" class="btn __empty __bl">
                    Подробнее
                  </a>

                  <span class="flex_w __ai_c">
                    <button class="deferred   heart_228161" value="228161"></button>
                    <button class="compare   compare_228161" value="228161"></button>
                  </span>
                </span>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 popular-item__outer">
            <div class="p_item">
              <a href="https://santehnika-tut.ru/product/komplekt-unitaza-geberit-renova-nr1-203050000-s-installyaciej-geberit-duofix-delta-458126001-s-sidenem-mikrolift-i-klavishej-smyva-hrom-228161.html" class="img pos_rel">
                <div class="thumb">
                  <span class="wh">На складе</span>                                                                                                                                            <span class="lp">Лидер продаж</span>                                                        <span class="ex">Эксклюзив</span>                                                    </div>
                <img data-src="https://cdn.santehnika-tut.ru/img/catphotos/1/2/6/1/7/4/126174_367386_bg.jpg" src="https://cdn.santehnika-tut.ru/img/catphotos/1/2/6/1/7/4/126174_367386_bg.jpg" alt="Комплект унитаза Geberit Renova Nr.1 203050000 с инсталляцией Geberit Duofix Delta 458.126.00.1" class="pos_absc lazyloaded">
              </a>
              <span class="des">
                  <span class="rating">
                    <span class="rat_list rat_list_null __rat4">
                      <span class="star"></span>
                      <span class="star"></span>
                      <span class="star"></span>
                      <span class="star"></span>
                      <span class="star"></span>
                    </span>
                    <span class="revs">
                                          <a href="https://santehnika-tut.ru/product/komplekt-unitaza-geberit-renova-nr1-203050000-s-installyaciej-geberit-duofix-delta-458126001-s-sidenem-mikrolift-i-klavishej-smyva-hrom-228161.html#revs">Отзывов: 1</a>
                                      </span>
                  </span>
                <a style="height: 36px;" href="/product/komplekt-unitaza-geberit-renova-nr1-203050000-s-installyaciej-geberit-duofix-delta-458126001-s-sidenem-mikrolift-i-klavishej-smyva-hrom-228161.html" class="title">
                  Комплект унитаза Geberit Renova Nr.1 203050000 с инсталляцией Geberit Duofix Delta 458.126.00.1                        </a>
                <span class="menu_tech"></span>
                <span class="flex_w __jc_sb __ai_c pos_rel">

                  <span class="city pos_rel">
                                      <img src="https://cdn.santehnika-tut.ru/img/flags/ch.png" alt="Швейцария" class="ypos_ab lazyloaded">
                      Швейцария                                                            </span>

                  <span class="vars"></span>
                              </span>

                <span class="devider"></span>

                <span class="price flex_w">
                  <span>22 499 руб.</span>
                </span>
                <span class="flex_w __jc_sb __ai_c">
                  <a href="https://santehnika-tut.ru/product/komplekt-unitaza-geberit-renova-nr1-203050000-s-installyaciej-geberit-duofix-delta-458126001-s-sidenem-mikrolift-i-klavishej-smyva-hrom-228161.html" class="btn __empty __bl">
                    <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 486.569 486.569"><path d="M146.069 320.369h268.1c30.4 0 55.2-24.8 55.2-55.2v-112.8-.4-.8c0-.2 0-.4-.1-.6 0-.2-.1-.5-.1-.7s-.1-.4-.1-.6c-.1-.2-.1-.4-.2-.7-.1-.2-.1-.4-.2-.6-.1-.2-.1-.4-.2-.6-.1-.2-.2-.4-.3-.7-.1-.2-.2-.4-.3-.5l-.3-.6c-.1-.2-.2-.3-.3-.5-.1-.2-.3-.4-.4-.6-.1-.2-.2-.3-.4-.5-.1-.2-.3-.3-.4-.5s-.3-.3-.4-.5-.3-.3-.4-.4l-.5-.5c-.2-.1-.3-.3-.5-.4-.2-.1-.4-.3-.6-.4-.2-.1-.3-.2-.5-.3s-.4-.2-.6-.4l-.6-.3-.6-.3-.6-.3c-.2-.1-.4-.1-.6-.2-.2-.1-.5-.2-.7-.2s-.4-.1-.5-.1c-.3-.1-.5-.1-.8-.1-.1 0-.2-.1-.4-.1l-339.8-46.9v-47.4c0-.5 0-1-.1-1.4 0-.1 0-.2-.1-.4 0-.3-.1-.6-.1-.9-.1-.3-.1-.5-.2-.8 0-.2-.1-.3-.1-.5l-.3-.9c0-.1-.1-.3-.1-.4-.1-.3-.2-.5-.4-.8-.1-.1-.1-.3-.2-.4-.1-.2-.2-.4-.4-.6-.1-.2-.2-.3-.3-.5s-.2-.3-.3-.5-.3-.4-.4-.6l-.3-.3-.6-.6-.3-.3c-.2-.2-.4-.4-.7-.6-.1-.1-.3-.2-.4-.3-.2-.2-.4-.3-.6-.5-.3-.2-.6-.4-.8-.5-.1-.1-.2-.1-.3-.2-.4-.2-.9-.4-1.3-.6l-73.7-31c-6.9-2.9-14.8.3-17.7 7.2s.3 14.8 7.2 17.7l65.4 27.6v295.8c0 28 21 51.2 48.1 54.7-4.9 8.2-7.8 17.8-7.8 28 0 30.1 24.5 54.5 54.5 54.5s54.5-24.5 54.5-54.5c0-10-2.7-19.5-7.5-27.5h121.4c-4.8 8.1-7.5 17.5-7.5 27.5 0 30.1 24.5 54.5 54.5 54.5s54.5-24.5 54.5-54.5-24.5-54.5-54.5-54.5h-255c-15.6 0-28.2-12.7-28.2-28.2v-36.6c8.2 4.8 17.9 7.6 28.2 7.6zm67.2 111.6c0 15.2-12.4 27.5-27.5 27.5s-27.5-12.4-27.5-27.5 12.4-27.5 27.5-27.5 27.5 12.3 27.5 27.5zm215.4 0c0 15.2-12.4 27.5-27.5 27.5s-27.5-12.4-27.5-27.5 12.4-27.5 27.5-27.5 27.5 12.3 27.5 27.5zm-14.5-138.6h-268.1c-15.6 0-28.2-12.7-28.2-28.2v-145.9l324.5 44.7v101.1c0 15.7-12.7 28.3-28.2 28.3z"/></svg>-->
                    Подробнее
                  </a>

                  <span class="flex_w __ai_c">
                    <button class="deferred   heart_228161" value="228161"></button>
                    <button class="compare   compare_228161" value="228161"></button>
                  </span>
                </span>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 popular-item__outer">
            <div class="p_item">
              <a href="https://santehnika-tut.ru/product/komplekt-unitaza-vitra-s-50-5956b0030101-s-installyaciej-grohe-rapid-sl-38772001-s-sidenem-mikrolift-i-klavishej-smyva-hrom-175676.html" class="img pos_rel">
              <div class="thumb">
                <span class="wh">На складе</span>                                                                                                                                            <span class="lp">Лидер продаж</span>                                                                                                            </div>
                      <img data-src="https://cdn.santehnika-tut.ru/img/catphotos/8/6/4/6/5/86465_258483_bg.jpg" src="https://cdn.santehnika-tut.ru/img/catphotos/8/6/4/6/5/86465_258483_bg.jpg" alt="Комплект унитаза Vitra S 50 5956B003-0101 с инсталляцией Grohe Rapid SL 38772001" class="pos_absc lazyloaded">
                    </a>
                    <span class="des">
                      <span class="rating">
                        <span class="rat_list rat_list_null __rat0">
                          <span class="star"></span>
                          <span class="star"></span>
                          <span class="star"></span>
                          <span class="star"></span>
                          <span class="star"></span>
                        </span>
                        <span class="revs">
                                              Отзывов: 0
                                          </span>
                      </span>
              <a style="height: 36px;" href="/product/komplekt-unitaza-vitra-s-50-5956b0030101-s-installyaciej-grohe-rapid-sl-38772001-s-sidenem-mikrolift-i-klavishej-smyva-hrom-175676.html" class="title" onclick="ga('send', 'event', 'UI', 'Click', 'Main - Best Seller Section - Block Item - Item Name Link');">
                Комплект унитаза Vitra S 50 5956B003-0101 с инсталляцией Grohe Rapid SL 38772001                        </a>
              <span class="menu_tech"></span>
              <span class="flex_w __jc_sb __ai_c pos_rel">

                <span class="city pos_rel">
                                    <img src="https://cdn.santehnika-tut.ru/img/flags/tr.png" alt="Турция" class="ypos_ab lazyloaded">
                    Турция                                                            </span>

                <span class="vars"></span>
                            </span>

              <span class="devider"></span>

              <span class="price flex_w">
                <span>20 665 руб.</span>
              </span>
              <span class="flex_w __jc_sb __ai_c">
                <a href="https://santehnika-tut.ru/product/komplekt-unitaza-vitra-s-50-5956b0030101-s-installyaciej-grohe-rapid-sl-38772001-s-sidenem-mikrolift-i-klavishej-smyva-hrom-175676.html" class="btn __empty __bl" onclick="ga('send', 'event', 'UI', 'Click', 'Main - Best Seller Section - Block Item - View Button');">
                  Подробнее
                </a>

                <span class="flex_w __ai_c">
                  <button class="deferred   heart_175676" value="175676" onclick="ga('send', 'event', 'UI', 'Click', 'Main - Best Seller Section - Block Item - Favorite Icon');"></button>
                  <button class="compare   compare_175676" value="175676" onclick="ga('send', 'event', 'UI', 'Click', 'Main - Best Seller Section - Block Item - Comparison Icon');"></button>
                </span>
              </span>
            </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 popular-item__outer">
            <div class="p_item">
              <a href="https://santehnika-tut.ru//product/akrilovaya-vanna-aquanet-bright-180-na-70-bez-gidromassazha-174729.html" class="img pos_rel">
                <div class="thumb">
                  <span class="bp">Бесплатная доставка</span>                                                                                                                                            <span class="lp">Лидер продаж</span>                                                        </div>
                <img data-src="https://cdn.santehnika-tut.ru/img/catphotos/8/5/7/9/3/85793_256814_bg.jpg" src="https://cdn.santehnika-tut.ru/img/catphotos/8/5/7/9/3/85793_256814_bg.jpg" alt="Акриловая ванна Aquanet Bright 180x70 " title="Акриловая ванна Aquanet Bright 180x70 " class="pos_absc lazyloaded">
              </a>
              <span class="des">
                  <span class="rating">
                    <span class="rat_list rat_list_null __rat4">
                      <span class="star"></span>
                      <span class="star"></span>
                      <span class="star"></span>
                      <span class="star"></span>
                      <span class="star"></span>
                    </span>
                    <span class="revs">
                      <a href="https://santehnika-tut.ru/product/komplekt-unitaza-geberit-renova-nr1-203050000-s-installyaciej-geberit-duofix-delta-458126001-s-sidenem-mikrolift-i-klavishej-smyva-hrom-228161.html#revs">Отзывов: 1</a>
                    </span>
                  </span>
                <a style="height: 36px;" href="/product/akrilovaya-vanna-aquanet-bright-180-na-70-bez-gidromassazha-174729.html" class="title" data-value="174729" onclick="ga('send', 'event', 'UI', 'Click', 'Catalog - Block Item - Item Name Link');">
                  Акриловая ванна Aquanet Bright 180x70            </a>
                <span class="menu_tech"></span>
                <span class="flex_w __jc_sb __ai_c pos_rel">

                <span class="city pos_rel">
                  <img src="https://cdn.santehnika-tut.ru/img/flags/ru.png" alt="Россия" class="lazyload ypos_ab">
                  Россия                </span>

                  <span class="vars"></span>
                              </span>

                <span class="devider"></span>

                <span class="price flex_w">
                  <span>11 199 руб.</span>
                </span>
                <span class="flex_w __jc_sb __ai_c">
                  <a href="https://santehnika-tut.ru/product/komplekt-unitaza-geberit-renova-nr1-203050000-s-installyaciej-geberit-duofix-delta-458126001-s-sidenem-mikrolift-i-klavishej-smyva-hrom-228161.html" class="btn __empty __bl">
                    Подробнее
                  </a>

                  <span class="flex_w __ai_c">
                    <button class="deferred   heart_228161" value="228161"></button>
                    <button class="compare   compare_228161" value="228161"></button>
                  </span>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container infoblock__container">
      <div class="infoblock ">
        <h2 class="infoblock__title">Дизайн - название инфоблока</h2>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-5">
            <img src="infoblock.png" alt="" class="infoblock__img">
          </div>
          <div class="col-sm-12 col-md-6 col-lg-7">
            <div class="infoblock__text">
              <p>Grohe производит смесители и душевые гарнитуры для ванной комнаты и кухни, автоматические и электронные смесители общественного и коммерческого назначения, системы инсталляции и смыва для подвесной сантехники, системы скрытого настенного монтажа.</p>
              <p>На долю Grohe AG приходится примерно 8 % мирового рынка.</p>
              <p>В 2007 году объём продаж выпускаемой Grohe сантехнической арматуры для кухонь, ванн и душа, автоматической арматуры для коммерческого и общественного секторов, а также инсталляционных и смывных систем составил около 1,02 млрд евро.</p>
              <p>У Grohe 6 производственных площадок, две из которых находятся за рубежом, в частности в Португалии и Таиланде. Компания реализует более 82 % выпускаемой продукции за пределами Германии. По всему миру на предприятиях Grohe работает около 5000 человек.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="infoblock infoblock_last">
        <h2 class="infoblock__title">Технологии - название инфоблока 2</h2>
        <div class="row infoblock__row">
          <div class="col-sm-12 col-md-6 col-lg-7">
            <div class="infoblock__text">
              <p>Grohe производит смесители и душевые гарнитуры для ванной комнаты и кухни, автоматические и электронные смесители общественного и коммерческого назначения, системы инсталляции и смыва для подвесной сантехники, системы скрытого настенного монтажа.</p>
              <p>На долю Grohe AG приходится примерно 8 % мирового рынка.</p>
              <p>В 2007 году объём продаж выпускаемой Grohe сантехнической арматуры для кухонь, ванн и душа, автоматической арматуры для коммерческого и общественного секторов, а также инсталляционных и смывных систем составил около 1,02 млрд евро.</p>
              <p>У Grohe 6 производственных площадок, две из которых находятся за рубежом, в частности в Португалии и Таиланде. Компания реализует более 82 % выпускаемой продукции за пределами Германии. По всему миру на предприятиях Grohe работает около 5000 человек.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-5">
            <img src="infoblock.png" alt="" class="infoblock__img">
          </div>
        </div>
      </div>
  </div>
</div>
