<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сантехника Тут - интернет-магазин сантехники</title>
  </head>
  <body>
      {{> components/main-header/main-header }}
      {{> components/main-banner/main-banner }}
      {{> components/main-content/main-content }}
      {{> components/main-footer/main-footer }}
      {{> components/scroll-up/scroll-up }}
  </body>
</html>
