<footer class="main-footer">
  <div class="container main-footer__container">
    <div class="row main-footer__nav">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6">
            <div class="main-footer__menu">
              <div class="main-footer__menu-title">Популярные группы</div>
              <div class="main-footer__items">
                <a href="#" class="main-footer__item">Раковины</a>
                <a href="#" class="main-footer__item">Смесители</a>
                <a href="#" class="main-footer__item">Полотенцесушители</a>
                <a href="#" class="main-footer__item">Ванны</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="main-footer__menu">
              <div class="main-footer__menu-title">Информация</div>
              <div class="main-footer__items">
                <div class="main-footer__text">
                  Интернет-магазин Сантехника-Тут является официальным дистрибьютером продуции немецкой комании Грое в России.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6">
            <div class="main-footer__menu">
              <div class="main-footer__menu-title">Контакты</div>
              <div class="main-footer__contact">
                <div class="main-footer__desc">8 800 555-66-13</div>
                <div class="main-footer__desc">Бесплатные звонки по России</div>
              </div>
              <div class="main-footer__contact">
                <div class="main-footer__desc">8 495 565-35-25</div>
                <div class="main-footer__desc">Многоканальный номер</div>
              </div>
              <div class="main-footer__contact">
                <div class="main-footer__desc">8 812 748-28-77</div>
                <div class="main-footer__desc">Офис продаж в Санкт-Петербурге</div>
              </div>
              <div class="main-footer__contact">
                <div class="main-footer__desc">8 861 205-25-67</div>
                <div class="main-footer__desc">Офис продаж в Краснодаре</div>
              </div>
              <div class="main-footer__contact">
                <div class="main-footer__desc">8 863 322-00-18</div>
                <div class="main-footer__desc">Офис продаж в Ростове-на-Дону</div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="main-footer__menu">
              <div class="main-footer__menu-title">Продавец</div>
              <div class="main-footer__items">
                <div class="main-footer__desc">8 800 555-66-13</div>
                <div class="main-footer__desc">ООО «Элит Групп»</div>
                <div class="main-footer__desc">ОГРН 1115029005123</div>
                <div class="main-footer__desc">ИНН 5029152090</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-footer__note">Сайт носит исключительно информационный характер, и ни при каких условиях не является публичной офертой, определяемой положениями статьи 437(2)</div>
  </div>
</footer>
