<div class="main-header">
  <div class="main-header__top">
    <div class="wide-container main-header__top-container"></div>
  </div>
  <div class="main-header__bottom">
    <div class="container main-header__bottom-container">
      <div class="main-header__logo">
        <img src="logo.png" alt="">
      </div>
      <div class="main-header__contacts">
        <div class="main-header__contacts-left">
          <a href="tel:+84955653525" class="main-header__phone">8 495 565-35-25</a>
          <div class="main-header__timetable">Каждый день с 9 до 22</div>
        </div>
        <button class="btn __empty __bl">Заказать звонок</button>
      </div>
      <div class="main-header__brand">
        <img src="grohe.png" alt="">
      </div>
    </div>
    </div>
  </div>
</div>
